
.course{
    width: 30%;
    height: 100%;
float: left;
}
.left{
    width: 70%;
    height: 100%;
    float: right ;
}
.intro{
    background-color: black;
    color: white;
}
.body{
    background-color: white;


}
h2{
    background-color:black;
    color: white;
}
b{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.one{
    color: red;
}